<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="zh"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-focus" lang="zh">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>老杨微信公众号前端编辑器</title>
    <meta name="author" content="yangweijie">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="__ADMIN_IMG__/favicons/favicon.ico">
    <!-- END Icons -->
    <!-- Stylesheets -->
    <link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/hint/codemirror.css">
    <link rel="stylesheet" href="__STATIC__/hint/show-hint.css">
    <!--<link rel="stylesheet" href="__STATIC__/libs/prism/prism.css">-->
    <style>
        fieldset {
            display: inline;
            width: 50%;
        }

        .title {
            background-color: yellow;
        }

        .CodeMirror {
            width: 585px;
        }
    </style>
    <!-- END Stylesheets -->
    <script src="__STATIC__/admin/js/core/jquery.min.js"></script>
    <script src="__STATIC__/admin/js/core/bootstrap.min.js"></script>
    <!--<script src="__STATIC__/libs/prism/prism.js"></script>-->
    <script src="__STATIC__/libs/vue.min.js"></script>
    <script src="__STATIC__/libs/clipboard.min.js"></script>
    <script src="__STATIC__/libs/demo/bundle.js"></script>
    <script src="__STATIC__/libs/demo/0.js"></script>
    <script>

    </script>
    <style>
        .CodeMirror {
            background: #f8f8f8;
        }

        fieldset {
            overflow: hidden;
        }

        .box {
            overflow: hidden;
        }

        .box1 {
            float: left;
            width: 50%;
        }

        .box2 {
            float: right;
        }

        .box2 ul li {
            list-style: none;
        }

        #copyBtn {
            display: block;
            margin: 0 auto;
            width: 100px;
            height: 50px;
        }
    </style>
</head>

<body>
    <div class="container" v-cloak id="app">
        <div class="title">
            前端微信图文消息代码生成器
            <!--  <ul>
            <li></li>
        </ul> -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form class="form-inline" name="parse" action="{:url('parse')}" target="afterParse" method="POST">
                    <fieldset style="width: 100%">
                        <div class="box">
                            <div class="box1">
                                <legend>选项：</legend>
                                <div>
                                    <div class="checkbox">
                                        <label>
                                     <input type="checkbox" name="param[cleanup]" value="1" v-model="form.param.cleanup"> cleanup
                                </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                     <input type="checkbox" name="param[useInlineStylesBlock]" value="1" v-model="form.param.useInlineStylesBlock"> useInlineStylesBlock
                                </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                     <input type="checkbox" name="param[stripOriginalStyleTags]" value="1" v-model="form.param.stripOriginalStyleTags"> stripOriginalStyleTags
                                </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                     <input type="checkbox" name="param[excludeMediaQueries]" value="1" v-model="form.param.excludeMediaQueries"> excludeMediaQueries
                                </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                     <input type="checkbox" name="param[excludeConditionalInlineStylesBlock]" value="1" v-model="form.param.excludeConditionalInlineStylesBlock"> excludeConditionalInlineStylesBlock
                                </label>
                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>
                            <div class="box2">
                                <legend>注意事项：</legend>
                                <div>
                                    <ul>
                                        <li>1.避免使用a标签(a标签被过滤)</li>
                                        <li>2.定位样式会被过滤</li>
                                        <li>3.外部样式会被过滤</li>
                                        <li>4.表单项只有select可以显示其他失效</li>
                                        <li>5.h标签样式被重写</li>
                                        <li>6.表格被美化</li>
                                        <li>7.img地址必须在素材库</li>
                                    </ul>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>

                        <h3>CSS样式：</h3>
                        <div class="form-group">
                            <codemirror :code="form.css" @changed="changed1" :options="cm_options"></codemirror>
                            <textarea v-model="form.css" style="display: none;" name="css"></textarea>
                        </div>
                        <h3>html内容：</h3>
                        <script id="container" name="content" type="text/plain"></script>
                        <textarea v-model="form.html" name="html" cols="80" rows="10" style="display: none;"></textarea>
                        <button onclick="getContent()">获得内容</button>
                    </fieldset>
                </form>
            </div>
            <div class="col-lg-6">
                <div>
                    <iframe src="{:url('parse')}" frameborder="0" name="afterParse" height="777" width="100%" id="afterParse"></iframe>
                    <button id="copyBtn">复制代码</button>
                </div>
            </div>
        </div>
    </div>

    <script src="__STATIC__/ueditor/ueditor.config.js"></script>
    <script src="__STATIC__/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript">
        /**
         *
         * @param fn {Function}   实际要执行的函数
         * @param delay {Number}  延迟时间，单位是毫秒（ms）
         *
         * @return {Function}     返回一个“防反跳”了的函数
         */
        function debounce(fn, delay) {
            // 定时器，用来 setTimeout
            var timer
            // 返回一个函数，这个函数会在一个时间区间结束后的 delay 毫秒时执行 fn 函数
            return function () {
                // 保存函数调用时的上下文和参数，传递给 fn
                var context = this
                var args = arguments
                // 每次这个返回的函数被调用，就清除定时器，以保证不执行 fn
                clearTimeout(timer)
                // 当返回的函数被最后一次调用后（也就是用户停止了某个连续的操作），
                // 再过 delay 毫秒就执行 fn
                timer = setTimeout(function () {
                    fn.apply(context, args)
                }, delay)
            }
        }

        var ue = UE.getEditor('container');
        function getContent() {
            ue.getContent();
            console.log(ue.getContentTxt())
            return ue.getContent();
        }
    </script>
    <script>
        Vue.use(CodeMirror);
        var app = new Vue({
            el: '#app',
            data: {
                code: "",
                form: {
                    param: {
                        cleanup: false,
                        useInlineStylesBlock: false,
                        stripOriginalStyleTags: false,
                        excludeMediaQueries: true,
                        excludeConditionalInlineStylesBlock: true,
                    },
                    css: '',
                    html: '',
                },
                afterParse: '',
                cm_options: {
                    tabSize: 4,
                    styleActiveLine: true,
                    lineNumbers: true,
                    line: true,
                    foldGutter: true,
                    styleSelectedText: false,
                    gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
                    highlightSelectionMatches: { showToken: /w/, annotateScrollbar: true },
                    mode: 'css',
                    hintOptions: {
                        completeSingle: false
                    }
                }
            },

            methods: {
                changed1: function (code) {
                    this.form.css = code;
                    console.log(code)
                }
                // ,
                // changed2: function (code) {
                //   this.form.html= code;
                //   console.log( code)
                // }
            },
            beforeMount() {
                // 读取本地缓存 刷新后还存在
                var cache = localStorage.getItem('cache');
                if (cache) {
                    this.form = JSON.parse(cache);
                }
                ue.addListener('ready', function (editor) {
                    ue.setHeight(300);
                    ue.setContent(app.form.html);
                });
                // ue.render(Element containerDom)
                ue.addListener("contentChange", function () {
                    app.form.html = ue.getContent();
                    console.log(ue.getContent())
                });

            },
            watch: {
                form: {
                    handler: function (newVal, oldVal) {
                        function delay (newVal, app){
                             var $form = $('[name=parse]');
                            // $.post($form.attr('action'), app.form, function (response) {
                            //     console.log(response);
                            //     app.afterParse = response;
                            // }, 'json');
                            $form.find('[name=html]').val(newVal.html);
                            $form.submit();
                            localStorage.setItem('cache', JSON.stringify(app.form));
                        }
                        debounce(delay(newVal,app), 2000);
                    },
                    deep: true
                }
            }
        });
    </script>

    <script>
        $(function () {
            new Clipboard('#copyBtn', {
                text: function (trigger) {
                    var inner = $($(document.getElementById('afterParse').contentWindow.document.body).html()).find('#js_content').html();
                    console.log(inner);
                    return inner;
                }
            });
        });
    </script>
</body>

</html>